@import '~@/assets/stylus/border.styl'
@font-face
  font-family 'iconfont-nav'
  src url('~@/assets/icons/iconfont-nav.woff') format('woff'),
      url('~@/assets/icons/iconfont-nav.ttf') format('truetype')
@font-face
  font-family 'iconfont-sell'
  src url('~@/assets/icons/iconfont-sell.woff') format('woff'),
      url('~@/assets/icons/iconfont-sell.ttf') format('truetype')
@font-face
  font-family 'iconfont-tag'
  src url('~@/assets/icons/iconfont-tag.woff') format('woff'),
      url('~@/assets/icons/iconfont-tag.ttf') format('truetype')
@font-face
  font-family 'iconfont-money'
  src url('~@/assets/icons/iconfont-money.woff') format('woff'),
      url('~@/assets/icons/iconfont-money.ttf') format('truetype')

.nav-iconnn
  font-family: iconfont-nav !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
.sell-iconnn
  font-family: iconfont-sell !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
.sell-tag
  font-family: iconfont-tag !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
.sell-money
  font-family: iconfont-money !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;