@import '~@/assets/stylus/border.styl'
@font-face
  font-family 'iconfont-nav'
  src url('~@/assets/icons/iconfont-nav.woff') format('woff'),
      url('~@/assets/icons/iconfont-nav.ttf') format('truetype')

@font-face
  font-family 'mine-icon'
  src url('~@/assets/icons/iconfont-mine.woff') format('woff'),
      url('~@/assets/icons/iconfont-mine.ttf') format('truetype')

.nav-iconnn
  font-family: iconfont-nav !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;

.mine-icon
  font-family: mine-icon !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;